<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reportes.Properties.Settings.dbOrbitalPC_ProyectoPrograIII_Sept2012ConnectionString"
            connectionString="Data Source=MIGUEL-33AB679A;Initial Catalog=dbOrbitalPC_ProyectoPrograIII_Sept2012;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>